* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/6846172-fundo-realista-donuts-vetor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background: rgb(230, 230, 8);
    color: #000000;
    padding: 1em 0;
}

header .container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

header .Nomeloja {
    padding-right: 35px;
}

header h1 {
    margin: 0;
    color:black;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 1em;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 0.5em;
}

header nav ul li a:hover {
    background: rgb(104, 134, 21);
    border-radius: 5px;
}

header .search-form {
    display: flex;
    flex-grow: 2;
    max-width: 1500px; /* Aumenta o tamanho máximo da barra de pesquisa */
}

header .search-form input[type="text"] {
    flex-grow: 1;
    padding: 0.5em;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #fff; 
    font-size: 1.1em; 
}

header .search-form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(185, 185, 86);
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.1em; 
}

header .search-form button:hover {
    background: rgb(104, 134, 21);
}

.nomeloja{
    margin-left: 5px;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Produtos */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.product {
    background: #84d31d;
    border-radius: 5px;
    padding: 1em;
    flex: 1 1 calc(33.333% - 1em);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.product h2 {
    margin: 0.5em 0;
    color: #000000;
}

.product p {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.product button {
    background: #000000;
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background: #05bedf;
}

/* Rodapé */
footer {
    background: rgb(230, 230, 8);
    color: #000000;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer p {
    margin: 0;
}

.input-box {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.password-input {
    margin-bottom: 10px;
    border-radius: 10px;
}

.submit-button {
    width: 20%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-button:hover {
    background: #585656;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .products .product {
        flex: 1 1 calc(50% - 1em);
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    header .search-form {
        max-width: none;
    }

    header .search-form input[type="text"] {
        width: 70%;
    }

    header .search-form button {
        width: 30%;
    }

    .products .product {
        flex: 1 1 calc(100% - 1em);
    }
}
.corner-image {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 100px; 
        z-index: 9999;
}